<div class="card mb-3">
    <h3 class="card-header">My DealerShip</h3>
    <div class="card-body">
        <h5 class="card-title">La concecionaria mas importante De Cochabamba</h5>
        <h6 class="card-subtitle text-muted">Tenemos todas las marcas de todo el mundo al mejor precio </h6>
    </div>
    <img style="height: 250px; width: 50%; display: block;" src="https://www.clipartkey.com/mpngs/m/294-2942500_car-detailing-small-medium-large-car.png" alt="Card image">
    <div class="card-body">
        <p class="card-text">Somos la primera concesionaria que importa directamente desde las companias mas grandes del mundo y te las traemos hasta la puerta de tu casa.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Auto Mazda cx-3 ,cx-5 ,cx-9,cx-30.</li>
        <li class="list-group-item">Auto Toyota rav4,supra,ford runner,corolla.</li>
        <li class="list-group-item">Auto Mercedez amg-3,mg2.</li>
    </ul>

    <div class="card-footer text-muted">
        Encuentrenos en la avenida America frente al supermercado Ic Norte ......numeros de referencia :4408150 .
    </div>
</div>